body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #333;

  background-image: url('./assets/backImage.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Reset */
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}